In [1]:
import pandas as pd
import os
import glob
from modules.connector import MySQL
import numpy as np
sql = MySQL(db='ads_db',credentials_files='./credentials/sql_findap.json',GCR=False)
from modules.MySQLLoader import DataProcessor

Connected to the ads_db database at 34.155.57.169!
Deployment in GCR: False

In [2]:
dp = DataProcessor('argentina')

Connected to the ads_db database at 34.155.57.169!
Deployment in GCR: False

In [3]:
dp.process_data()

  0%|          | 2/576 [00:00<00:34, 16.65it/s]

./argentina/data/20231211/Rosario.csv

./argentina/data/20231211/Mar_del_Plata.csv

./argentina/data/20231211/Mendoza.csv

./argentina/data/20231211/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
  2%|▏         | 10/576 [00:00<00:43, 12.92it/s]

./argentina/data/20231211/Salta.csv

./argentina/data/20231211/Bahia_Blanca.csv

./argentina/data/20231211/San_Miguel_de_Tucuman.csv

./argentina/data/20231211/San_Juan.csv

./argentina/data/20231211/Neuquen.csv

./argentina/data/20231211/Comodoro_Rivadavia.csv

./argentina/data/20231211/Santa_Fe.csv

./argentina/data/20231211/Cordoba.csv

./argentina/data/20230206/Rosario.csv

  2%|▏         | 14/576 [00:01<00:40, 13.81it/s]

./argentina/data/20230206/Mar_del_Plata.csv

./argentina/data/20230206/Mendoza.csv

./argentina/data/20230206/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
  4%|▍         | 23/576 [00:02<00:50, 11.05it/s]

./argentina/data/20230206/Salta.csv

./argentina/data/20230206/Bahia_Blanca.csv

./argentina/data/20230206/San_Miguel_de_Tucuman.csv

./argentina/data/20230206/San_Juan.csv

./argentina/data/20230206/Neuquen.csv

./argentina/data/20230206/Comodoro_Rivadavia.csv

./argentina/data/20230206/Santa_Fe.csv

./argentina/data/20230206/Cordoba.csv

  5%|▍         | 26/576 [00:02<00:48, 11.31it/s]

./argentina/data/20231225/Rosario.csv

./argentina/data/20231225/Mar_del_Plata.csv

./argentina/data/20231225/Mendoza.csv

./argentina/data/20231225/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
  6%|▌         | 35/576 [00:03<00:43, 12.38it/s]

./argentina/data/20231225/Salta.csv

./argentina/data/20231225/Bahia_Blanca.csv

./argentina/data/20231225/San_Miguel_de_Tucuman.csv

./argentina/data/20231225/San_Juan.csv

./argentina/data/20231225/Neuquen.csv

./argentina/data/20231225/Comodoro_Rivadavia.csv

./argentina/data/20231225/Santa_Fe.csv

./argentina/data/20231225/Cordoba.csv

./argentina/data/20230904/Rosario.csv

./argentina/data/20230904/Mar_del_Plata.csv

  7%|▋         | 38/576 [00:03<00:45, 11.90it/s]

./argentina/data/20230904/Mendoza.csv

./argentina/data/20230904/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
  8%|▊         | 46/576 [00:04<00:52, 10.01it/s]

./argentina/data/20230904/Salta.csv

./argentina/data/20230904/Bahia_Blanca.csv

./argentina/data/20230904/San_Miguel_de_Tucuman.csv

./argentina/data/20230904/San_Juan.csv

./argentina/data/20230904/Neuquen.csv

./argentina/data/20230904/Comodoro_Rivadavia.csv

./argentina/data/20230904/Santa_Fe.csv

./argentina/data/20230904/Cordoba.csv

  9%|▊         | 49/576 [00:04<00:49, 10.63it/s]

./argentina/data/20231106/Rosario.csv

./argentina/data/20231106/Mar_del_Plata.csv

./argentina/data/20231106/Mendoza.csv

./argentina/data/20231106/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 10%|▉         | 57/576 [00:05<00:51, 10.06it/s]

./argentina/data/20231106/Salta.csv

./argentina/data/20231106/Bahia_Blanca.csv

./argentina/data/20231106/San_Miguel_de_Tucuman.csv

./argentina/data/20231106/San_Juan.csv

./argentina/data/20231106/Neuquen.csv

./argentina/data/20231106/Comodoro_Rivadavia.csv

./argentina/data/20231106/Santa_Fe.csv

./argentina/data/20231106/Cordoba.csv

 11%|█         | 63/576 [00:06<00:40, 12.62it/s]

./argentina/data/20230313/Rosario.csv

./argentina/data/20230313/Mar_del_Plata.csv

./argentina/data/20230313/Mendoza.csv

./argentina/data/20230313/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 11%|█▏        | 66/576 [00:07<01:11,  7.12it/s]

./argentina/data/20230313/Salta.csv

./argentina/data/20230313/Bahia_Blanca.csv

./argentina/data/20230313/San_Miguel_de_Tucuman.csv

./argentina/data/20230313/San_Juan.csv

./argentina/data/20230313/Neuquen.csv

./argentina/data/20230313/Comodoro_Rivadavia.csv

./argentina/data/20230313/Santa_Fe.csv

./argentina/data/20230313/Cordoba.csv

 12%|█▎        | 72/576 [00:07<00:46, 10.78it/s]

./argentina/data/20230626/Rosario.csv

./argentina/data/20230626/Mar_del_Plata.csv

./argentina/data/20230626/Mendoza.csv

 13%|█▎        | 75/576 [00:07<00:44, 11.36it/s]

./argentina/data/20230626/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 14%|█▍        | 83/576 [00:08<00:48, 10.18it/s]

./argentina/data/20230626/Salta.csv

./argentina/data/20230626/Bahia_Blanca.csv

./argentina/data/20230626/San_Miguel_de_Tucuman.csv

./argentina/data/20230626/San_Juan.csv

./argentina/data/20230626/Neuquen.csv

./argentina/data/20230626/Comodoro_Rivadavia.csv

./argentina/data/20230626/Santa_Fe.csv

./argentina/data/20230626/Cordoba.csv

 15%|█▍        | 86/576 [00:08<00:47, 10.32it/s]

./argentina/data/20230213/Rosario.csv

./argentina/data/20230213/Mar_del_Plata.csv

./argentina/data/20230213/Mendoza.csv

./argentina/data/20230213/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 16%|█▋        | 95/576 [00:10<00:45, 10.59it/s]

./argentina/data/20230213/Salta.csv

./argentina/data/20230213/Bahia_Blanca.csv

./argentina/data/20230213/San_Miguel_de_Tucuman.csv

./argentina/data/20230213/San_Juan.csv

./argentina/data/20230213/Neuquen.csv

./argentina/data/20230213/Comodoro_Rivadavia.csv

./argentina/data/20230213/Santa_Fe.csv

./argentina/data/20230213/Cordoba.csv

 17%|█▋        | 98/576 [00:10<00:45, 10.45it/s]

./argentina/data/20230508/Rosario.csv

./argentina/data/20230508/Mar_del_Plata.csv

./argentina/data/20230508/Mendoza.csv

./argentina/data/20230508/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 19%|█▊        | 107/576 [00:11<00:46, 10.09it/s]

./argentina/data/20230508/Salta.csv

./argentina/data/20230508/Bahia_Blanca.csv

./argentina/data/20230508/San_Miguel_de_Tucuman.csv

./argentina/data/20230508/San_Juan.csv

./argentina/data/20230508/Neuquen.csv

./argentina/data/20230508/Comodoro_Rivadavia.csv

./argentina/data/20230508/Santa_Fe.csv

./argentina/data/20230508/Cordoba.csv

 19%|█▉        | 110/576 [00:11<00:44, 10.39it/s]

./argentina/data/20230612/Rosario.csv

./argentina/data/20230612/Mar_del_Plata.csv

./argentina/data/20230612/Mendoza.csv

./argentina/data/20230612/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 21%|██        | 119/576 [00:12<00:41, 11.12it/s]

./argentina/data/20230612/Salta.csv

./argentina/data/20230612/Bahia_Blanca.csv

./argentina/data/20230612/San_Miguel_de_Tucuman.csv

./argentina/data/20230612/San_Juan.csv

./argentina/data/20230612/Neuquen.csv

./argentina/data/20230612/Comodoro_Rivadavia.csv

./argentina/data/20230612/Santa_Fe.csv

./argentina/data/20230612/Cordoba.csv

 21%|██        | 122/576 [00:12<00:38, 11.81it/s]

./argentina/data/20230418/Neuquen.csv

./argentina/data/20230410/Rosario.csv

./argentina/data/20230410/Mar_del_Plata.csv

./argentina/data/20230410/Mendoza.csv

./argentina/data/20230410/Buenos_Aires.csv

 23%|██▎       | 130/576 [00:14<00:46,  9.53it/s]

./argentina/data/20230410/Salta.csv

./argentina/data/20230410/Bahia_Blanca.csv

./argentina/data/20230410/San_Miguel_de_Tucuman.csv

./argentina/data/20230410/San_Juan.csv

./argentina/data/20230410/Neuquen.csv

./argentina/data/20230410/Comodoro_Rivadavia.csv

./argentina/data/20230410/Santa_Fe.csv

./argentina/data/20230410/Cordoba.csv

 24%|██▎       | 136/576 [00:14<00:37, 11.83it/s]

./argentina/data/20231023/Rosario.csv

./argentina/data/20231023/Mar_del_Plata.csv

./argentina/data/20231023/Mendoza.csv

./argentina/data/20231023/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 24%|██▍       | 139/576 [00:15<00:58,  7.41it/s]

./argentina/data/20231023/Salta.csv

./argentina/data/20231023/Bahia_Blanca.csv

./argentina/data/20231023/San_Miguel_de_Tucuman.csv

./argentina/data/20231023/San_Juan.csv

./argentina/data/20231023/Neuquen.csv

./argentina/data/20231023/Comodoro_Rivadavia.csv

./argentina/data/20231023/Santa_Fe.csv

./argentina/data/20231023/Cordoba.csv

 25%|██▌       | 145/576 [00:15<00:38, 11.10it/s]

./argentina/data/20230814/Rosario.csv

./argentina/data/20230814/Mar_del_Plata.csv

./argentina/data/20230814/Mendoza.csv

 26%|██▌       | 148/576 [00:15<00:36, 11.71it/s]

./argentina/data/20230814/Buenos_Aires.csv

 27%|██▋       | 156/576 [00:16<00:40, 10.35it/s]

./argentina/data/20230814/Salta.csv

./argentina/data/20230814/Bahia_Blanca.csv

./argentina/data/20230814/San_Miguel_de_Tucuman.csv

./argentina/data/20230814/San_Juan.csv

./argentina/data/20230814/Neuquen.csv

./argentina/data/20230814/Comodoro_Rivadavia.csv

./argentina/data/20230814/Santa_Fe.csv

./argentina/data/20230814/Cordoba.csv

 28%|██▊       | 159/576 [00:16<00:40, 10.36it/s]

./argentina/data/20230124/Rosario.csv

./argentina/data/20230124/Mar_del_Plata.csv

./argentina/data/20230124/Mendoza.csv

./argentina/data/20230124/Buenos_Aires.csv

 29%|██▉       | 168/576 [00:17<00:28, 14.40it/s]

./argentina/data/20230124/Salta.csv

./argentina/data/20230124/Bahia_Blanca.csv

./argentina/data/20230124/San_Miguel_de_Tucuman.csv

./argentina/data/20230124/San_Juan.csv

./argentina/data/20230124/Neuquen.csv

./argentina/data/20230124/Comodoro_Rivadavia.csv

./argentina/data/20230124/Santa_Fe.csv

./argentina/data/20230124/Cordoba.csv

 30%|██▉       | 171/576 [00:17<00:31, 13.02it/s]

./argentina/data/20230227/Rosario.csv

./argentina/data/20230227/Mar_del_Plata.csv

./argentina/data/20230227/Mendoza.csv

./argentina/data/20230227/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 31%|███▏      | 180/576 [00:18<00:35, 11.28it/s]

./argentina/data/20230227/Salta.csv

./argentina/data/20230227/Bahia_Blanca.csv

./argentina/data/20230227/San_Miguel_de_Tucuman.csv

./argentina/data/20230227/San_Juan.csv

./argentina/data/20230227/Neuquen.csv

./argentina/data/20230227/Comodoro_Rivadavia.csv

./argentina/data/20230227/Santa_Fe.csv

./argentina/data/20230227/Cordoba.csv

 32%|███▏      | 183/576 [00:19<00:34, 11.31it/s]

./argentina/data/20231120/Rosario.csv

./argentina/data/20231120/Mar_del_Plata.csv

./argentina/data/20231120/Mendoza.csv

./argentina/data/20231120/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 33%|███▎      | 192/576 [00:20<00:33, 11.60it/s]

./argentina/data/20231120/Salta.csv

./argentina/data/20231120/Bahia_Blanca.csv

./argentina/data/20231120/San_Miguel_de_Tucuman.csv

./argentina/data/20231120/San_Juan.csv

./argentina/data/20231120/Neuquen.csv

./argentina/data/20231120/Comodoro_Rivadavia.csv

./argentina/data/20231120/Santa_Fe.csv

./argentina/data/20231120/Cordoba.csv

 34%|███▍      | 195/576 [00:20<00:33, 11.42it/s]

./argentina/data/20230717/Rosario.csv

./argentina/data/20230717/Mar_del_Plata.csv

./argentina/data/20230717/Mendoza.csv

./argentina/data/20230717/Buenos_Aires.csv

 35%|███▌      | 204/576 [00:21<00:34, 10.66it/s]

./argentina/data/20230717/Salta.csv

./argentina/data/20230717/Bahia_Blanca.csv

./argentina/data/20230717/San_Miguel_de_Tucuman.csv

./argentina/data/20230717/San_Juan.csv

./argentina/data/20230717/Neuquen.csv

./argentina/data/20230717/Comodoro_Rivadavia.csv

./argentina/data/20230717/Santa_Fe.csv

./argentina/data/20230717/Cordoba.csv

 36%|███▌      | 207/576 [00:21<00:35, 10.49it/s]

./argentina/data/20230724/Rosario.csv

./argentina/data/20230724/Mar_del_Plata.csv

./argentina/data/20230724/Mendoza.csv

./argentina/data/20230724/Buenos_Aires.csv

 38%|███▊      | 216/576 [00:22<00:35, 10.18it/s]

./argentina/data/20230724/Salta.csv

./argentina/data/20230724/Bahia_Blanca.csv

./argentina/data/20230724/San_Miguel_de_Tucuman.csv

./argentina/data/20230724/San_Juan.csv

./argentina/data/20230724/Neuquen.csv

./argentina/data/20230724/Comodoro_Rivadavia.csv

./argentina/data/20230724/Santa_Fe.csv

./argentina/data/20230724/Cordoba.csv

 38%|███▊      | 219/576 [00:23<00:34, 10.22it/s]

./argentina/data/20231002/Rosario.csv

./argentina/data/20231002/Mar_del_Plata.csv

./argentina/data/20231002/Mendoza.csv

./argentina/data/20231002/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 40%|███▉      | 228/576 [00:24<00:32, 10.59it/s]

./argentina/data/20231002/Salta.csv

./argentina/data/20231002/Bahia_Blanca.csv

./argentina/data/20231002/San_Miguel_de_Tucuman.csv

./argentina/data/20231002/San_Juan.csv

./argentina/data/20231002/Neuquen.csv

./argentina/data/20231002/Comodoro_Rivadavia.csv

./argentina/data/20231002/Santa_Fe.csv

./argentina/data/20231002/Cordoba.csv

 40%|████      | 231/576 [00:24<00:32, 10.59it/s]

./argentina/data/20230320/Rosario.csv

./argentina/data/20230320/Mar_del_Plata.csv

./argentina/data/20230320/Mendoza.csv

./argentina/data/20230320/Buenos_Aires.csv

 42%|████▏     | 240/576 [00:25<00:32, 10.36it/s]

./argentina/data/20230320/Salta.csv

./argentina/data/20230320/Bahia_Blanca.csv

./argentina/data/20230320/San_Miguel_de_Tucuman.csv

./argentina/data/20230320/San_Juan.csv

./argentina/data/20230320/Neuquen.csv

./argentina/data/20230320/Comodoro_Rivadavia.csv

./argentina/data/20230320/Santa_Fe.csv

./argentina/data/20230320/Cordoba.csv

 42%|████▏     | 243/576 [00:25<00:32, 10.35it/s]

./argentina/data/20230515/Rosario.csv

./argentina/data/20230515/Mar_del_Plata.csv

./argentina/data/20230515/Mendoza.csv

./argentina/data/20230515/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 44%|████▍     | 252/576 [00:26<00:31, 10.16it/s]

./argentina/data/20230515/Salta.csv

./argentina/data/20230515/Bahia_Blanca.csv

./argentina/data/20230515/San_Miguel_de_Tucuman.csv

./argentina/data/20230515/San_Juan.csv

./argentina/data/20230515/Neuquen.csv

./argentina/data/20230515/Comodoro_Rivadavia.csv

./argentina/data/20230515/Santa_Fe.csv

./argentina/data/20230515/Cordoba.csv

 44%|████▍     | 255/576 [00:27<00:31, 10.09it/s]

./argentina/data/20230306/Rosario.csv

./argentina/data/20230306/Mar_del_Plata.csv

./argentina/data/20230306/Mendoza.csv

./argentina/data/20230306/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 46%|████▌     | 264/576 [00:28<00:31,  9.93it/s]

./argentina/data/20230306/Salta.csv

./argentina/data/20230306/Bahia_Blanca.csv

./argentina/data/20230306/San_Miguel_de_Tucuman.csv

./argentina/data/20230306/San_Juan.csv

./argentina/data/20230306/Neuquen.csv

./argentina/data/20230306/Comodoro_Rivadavia.csv

./argentina/data/20230306/Santa_Fe.csv

./argentina/data/20230306/Cordoba.csv

 46%|████▋     | 267/576 [00:28<00:30, 10.21it/s]

./argentina/data/20231016/Rosario.csv

./argentina/data/20231016/Mar_del_Plata.csv

./argentina/data/20231016/Mendoza.csv

./argentina/data/20231016/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 48%|████▊     | 276/576 [00:29<00:27, 11.10it/s]

./argentina/data/20231016/Salta.csv

./argentina/data/20231016/Bahia_Blanca.csv

./argentina/data/20231016/San_Miguel_de_Tucuman.csv

./argentina/data/20231016/San_Juan.csv

./argentina/data/20231016/Neuquen.csv

./argentina/data/20231016/Comodoro_Rivadavia.csv

./argentina/data/20231016/Santa_Fe.csv

./argentina/data/20231016/Cordoba.csv

 48%|████▊     | 279/576 [00:29<00:26, 11.12it/s]

./argentina/data/20230220/Rosario.csv

./argentina/data/20230220/Mar_del_Plata.csv

./argentina/data/20230220/Mendoza.csv

./argentina/data/20230220/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 50%|█████     | 288/576 [00:30<00:26, 10.82it/s]

./argentina/data/20230220/Salta.csv

./argentina/data/20230220/Bahia_Blanca.csv

./argentina/data/20230220/San_Miguel_de_Tucuman.csv

./argentina/data/20230220/San_Juan.csv

./argentina/data/20230220/Neuquen.csv

./argentina/data/20230220/Comodoro_Rivadavia.csv

./argentina/data/20230220/Santa_Fe.csv

./argentina/data/20230220/Cordoba.csv

 51%|█████     | 291/576 [00:31<00:26, 10.59it/s]

./argentina/data/20230710/Rosario.csv

./argentina/data/20230710/Mar_del_Plata.csv

./argentina/data/20230710/Mendoza.csv

./argentina/data/20230710/Buenos_Aires.csv

 52%|█████▏    | 300/576 [00:32<00:26, 10.25it/s]

./argentina/data/20230710/Salta.csv

./argentina/data/20230710/Bahia_Blanca.csv

./argentina/data/20230710/San_Miguel_de_Tucuman.csv

./argentina/data/20230710/San_Juan.csv

./argentina/data/20230710/Neuquen.csv

./argentina/data/20230710/Comodoro_Rivadavia.csv

./argentina/data/20230710/Santa_Fe.csv

./argentina/data/20230710/Cordoba.csv

 53%|█████▎    | 303/576 [00:32<00:26, 10.40it/s]

./argentina/data/20231030/Rosario.csv

./argentina/data/20231030/Mar_del_Plata.csv

./argentina/data/20231030/Mendoza.csv

./argentina/data/20231030/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 54%|█████▍    | 312/576 [00:33<00:23, 11.22it/s]

./argentina/data/20231030/Salta.csv

./argentina/data/20231030/Bahia_Blanca.csv

./argentina/data/20231030/San_Miguel_de_Tucuman.csv

./argentina/data/20231030/San_Juan.csv

./argentina/data/20231030/Neuquen.csv

./argentina/data/20231030/Comodoro_Rivadavia.csv

./argentina/data/20231030/Santa_Fe.csv

./argentina/data/20231030/Cordoba.csv

 55%|█████▍    | 315/576 [00:33<00:23, 11.01it/s]

./argentina/data/20230424/Rosario.csv

./argentina/data/20230424/Mar_del_Plata.csv

./argentina/data/20230424/Mendoza.csv

./argentina/data/20230424/Buenos_Aires.csv

 56%|█████▋    | 324/576 [00:34<00:24, 10.34it/s]

./argentina/data/20230424/Salta.csv

./argentina/data/20230424/Bahia_Blanca.csv

./argentina/data/20230424/San_Miguel_de_Tucuman.csv

./argentina/data/20230424/San_Juan.csv

./argentina/data/20230424/Neuquen.csv

./argentina/data/20230424/Comodoro_Rivadavia.csv

./argentina/data/20230424/Santa_Fe.csv

./argentina/data/20230424/Cordoba.csv

 57%|█████▋    | 327/576 [00:35<00:23, 10.49it/s]

./argentina/data/20230522/Rosario.csv

./argentina/data/20230522/Mar_del_Plata.csv

./argentina/data/20230522/Mendoza.csv

./argentina/data/20230522/Buenos_Aires.csv

 58%|█████▊    | 336/576 [00:36<00:22, 10.65it/s]

./argentina/data/20230522/Salta.csv

./argentina/data/20230522/Bahia_Blanca.csv

./argentina/data/20230522/San_Miguel_de_Tucuman.csv

./argentina/data/20230522/San_Juan.csv

./argentina/data/20230522/Neuquen.csv

./argentina/data/20230522/Comodoro_Rivadavia.csv

./argentina/data/20230522/Santa_Fe.csv

./argentina/data/20230522/Cordoba.csv

 59%|█████▉    | 339/576 [00:36<00:22, 10.75it/s]

./argentina/data/20230821/Rosario.csv

./argentina/data/20230821/Mar_del_Plata.csv

./argentina/data/20230821/Mendoza.csv

./argentina/data/20230821/Buenos_Aires.csv

 60%|██████    | 348/576 [00:37<00:22, 10.26it/s]

./argentina/data/20230821/Salta.csv

./argentina/data/20230821/Bahia_Blanca.csv

./argentina/data/20230821/San_Miguel_de_Tucuman.csv

./argentina/data/20230821/San_Juan.csv

./argentina/data/20230821/Neuquen.csv

./argentina/data/20230821/Comodoro_Rivadavia.csv

./argentina/data/20230821/Santa_Fe.csv

./argentina/data/20230821/Cordoba.csv

 61%|██████    | 351/576 [00:37<00:21, 10.57it/s]

./argentina/data/20231113/Rosario.csv

./argentina/data/20231113/Mar_del_Plata.csv

./argentina/data/20231113/Mendoza.csv

./argentina/data/20231113/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 62%|██████▎   | 360/576 [00:38<00:18, 11.50it/s]

./argentina/data/20231113/Salta.csv

./argentina/data/20231113/Bahia_Blanca.csv

./argentina/data/20231113/San_Miguel_de_Tucuman.csv

./argentina/data/20231113/San_Juan.csv

./argentina/data/20231113/Neuquen.csv

./argentina/data/20231113/Comodoro_Rivadavia.csv

./argentina/data/20231113/Santa_Fe.csv

./argentina/data/20231113/Cordoba.csv

 63%|██████▎   | 363/576 [00:38<00:18, 11.30it/s]

./argentina/data/20230501/Rosario.csv

./argentina/data/20230501/Mar_del_Plata.csv

./argentina/data/20230501/Mendoza.csv

./argentina/data/20230501/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 65%|██████▍   | 372/576 [00:40<00:19, 10.36it/s]

./argentina/data/20230501/Salta.csv

./argentina/data/20230501/Bahia_Blanca.csv

./argentina/data/20230501/San_Miguel_de_Tucuman.csv

./argentina/data/20230501/San_Juan.csv

./argentina/data/20230501/Neuquen.csv

./argentina/data/20230501/Comodoro_Rivadavia.csv

./argentina/data/20230501/Santa_Fe.csv

./argentina/data/20230501/Cordoba.csv

 65%|██████▌   | 375/576 [00:40<00:19, 10.29it/s]

./argentina/data/20230417/Rosario.csv

./argentina/data/20230417/Mar_del_Plata.csv

./argentina/data/20230417/Mendoza.csv

./argentina/data/20230417/Buenos_Aires.csv

 66%|██████▌   | 378/576 [00:41<00:29,  6.64it/s]

./argentina/data/20230417/Salta.csv

./argentina/data/20230417/Bahia_Blanca.csv

./argentina/data/20230417/San_Miguel_de_Tucuman.csv

./argentina/data/20230417/San_Juan.csv

./argentina/data/20230417/Comodoro_Rivadavia.csv

./argentina/data/20230417/Santa_Fe.csv

./argentina/data/20230417/Cordoba.csv

 67%|██████▋   | 387/576 [00:41<00:17, 11.01it/s]

./argentina/data/20231218/Rosario.csv

./argentina/data/20231218/Mar_del_Plata.csv

./argentina/data/20231218/Mendoza.csv

./argentina/data/20231218/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 69%|██████▊   | 395/576 [00:42<00:15, 11.77it/s]

./argentina/data/20231218/Salta.csv

./argentina/data/20231218/Bahia_Blanca.csv

./argentina/data/20231218/San_Miguel_de_Tucuman.csv

./argentina/data/20231218/San_Juan.csv

./argentina/data/20231218/Neuquen.csv

./argentina/data/20231218/Comodoro_Rivadavia.csv

./argentina/data/20231218/Santa_Fe.csv

./argentina/data/20231218/Cordoba.csv

 69%|██████▉   | 398/576 [00:42<00:15, 11.76it/s]

./argentina/data/20230918/Rosario.csv

./argentina/data/20230918/Mar_del_Plata.csv

./argentina/data/20230918/Mendoza.csv

./argentina/data/20230918/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 71%|███████   | 407/576 [00:43<00:15, 10.68it/s]

./argentina/data/20230918/Salta.csv

./argentina/data/20230918/Bahia_Blanca.csv

./argentina/data/20230918/San_Miguel_de_Tucuman.csv

./argentina/data/20230918/San_Juan.csv

./argentina/data/20230918/Neuquen.csv

./argentina/data/20230918/Comodoro_Rivadavia.csv

./argentina/data/20230918/Santa_Fe.csv

./argentina/data/20230918/Cordoba.csv

 71%|███████   | 410/576 [00:44<00:15, 10.70it/s]

./argentina/data/20230619/Rosario.csv

./argentina/data/20230619/Mar_del_Plata.csv

./argentina/data/20230619/Mendoza.csv

./argentina/data/20230619/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 73%|███████▎  | 419/576 [00:45<00:14, 10.58it/s]

./argentina/data/20230619/Salta.csv

./argentina/data/20230619/Bahia_Blanca.csv

./argentina/data/20230619/San_Miguel_de_Tucuman.csv

./argentina/data/20230619/San_Juan.csv

./argentina/data/20230619/Neuquen.csv

./argentina/data/20230619/Comodoro_Rivadavia.csv

./argentina/data/20230619/Santa_Fe.csv

./argentina/data/20230619/Cordoba.csv

 73%|███████▎  | 422/576 [00:45<00:14, 10.51it/s]

./argentina/data/20230327/Rosario.csv

./argentina/data/20230327/Mar_del_Plata.csv

./argentina/data/20230327/Mendoza.csv

./argentina/data/20230327/Buenos_Aires.csv

 75%|███████▍  | 431/576 [00:46<00:14, 10.30it/s]

./argentina/data/20230327/Salta.csv

./argentina/data/20230327/Bahia_Blanca.csv

./argentina/data/20230327/San_Miguel_de_Tucuman.csv

./argentina/data/20230327/San_Juan.csv

./argentina/data/20230327/Neuquen.csv

./argentina/data/20230327/Comodoro_Rivadavia.csv

./argentina/data/20230327/Santa_Fe.csv

./argentina/data/20230327/Cordoba.csv

 75%|███████▌  | 434/576 [00:46<00:13, 10.71it/s]

./argentina/data/20231204/Rosario.csv

./argentina/data/20231204/Mar_del_Plata.csv

./argentina/data/20231204/Mendoza.csv

./argentina/data/20231204/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 77%|███████▋  | 443/576 [00:47<00:11, 11.56it/s]

./argentina/data/20231204/Salta.csv

./argentina/data/20231204/Bahia_Blanca.csv

./argentina/data/20231204/San_Miguel_de_Tucuman.csv

./argentina/data/20231204/San_Juan.csv

./argentina/data/20231204/Neuquen.csv

./argentina/data/20231204/Comodoro_Rivadavia.csv

./argentina/data/20231204/Santa_Fe.csv

./argentina/data/20231204/Cordoba.csv

 77%|███████▋  | 446/576 [00:47<00:11, 11.27it/s]

./argentina/data/20230731/Rosario.csv

./argentina/data/20230731/Mar_del_Plata.csv

./argentina/data/20230731/Mendoza.csv

./argentina/data/20230731/Buenos_Aires.csv

 79%|███████▉  | 455/576 [00:49<00:11, 10.63it/s]

./argentina/data/20230731/Salta.csv

./argentina/data/20230731/Bahia_Blanca.csv

./argentina/data/20230731/San_Miguel_de_Tucuman.csv

./argentina/data/20230731/San_Juan.csv

./argentina/data/20230731/Neuquen.csv

./argentina/data/20230731/Comodoro_Rivadavia.csv

./argentina/data/20230731/Santa_Fe.csv

./argentina/data/20230731/Cordoba.csv

 80%|███████▉  | 458/576 [00:49<00:11, 10.59it/s]

./argentina/data/20230605/Rosario.csv

./argentina/data/20230605/Mar_del_Plata.csv

./argentina/data/20230605/Mendoza.csv

./argentina/data/20230605/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 81%|████████  | 467/576 [00:50<00:10, 10.56it/s]

./argentina/data/20230605/Salta.csv

./argentina/data/20230605/Bahia_Blanca.csv

./argentina/data/20230605/San_Miguel_de_Tucuman.csv

./argentina/data/20230605/San_Juan.csv

./argentina/data/20230605/Neuquen.csv

./argentina/data/20230605/Comodoro_Rivadavia.csv

./argentina/data/20230605/Santa_Fe.csv

./argentina/data/20230605/Cordoba.csv

 82%|████████▏ | 470/576 [00:50<00:10, 10.46it/s]

./argentina/data/20230129/Rosario.csv

./argentina/data/20230129/Mar_del_Plata.csv

./argentina/data/20230129/Mendoza.csv

./argentina/data/20230129/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 83%|████████▎ | 479/576 [00:51<00:09, 10.12it/s]

./argentina/data/20230129/Salta.csv

./argentina/data/20230129/Bahia_Blanca.csv

./argentina/data/20230129/San_Miguel_de_Tucuman.csv

./argentina/data/20230129/San_Juan.csv

./argentina/data/20230129/Neuquen.csv

./argentina/data/20230129/Comodoro_Rivadavia.csv

./argentina/data/20230129/Santa_Fe.csv

./argentina/data/20230129/Cordoba.csv

 84%|████████▎ | 482/576 [00:52<00:09, 10.13it/s]

./argentina/data/20231009/Rosario.csv

./argentina/data/20231009/Mar_del_Plata.csv

./argentina/data/20231009/Mendoza.csv

./argentina/data/20231009/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 85%|████████▌ | 491/576 [00:53<00:07, 10.68it/s]

./argentina/data/20231009/Salta.csv

./argentina/data/20231009/Bahia_Blanca.csv

./argentina/data/20231009/San_Miguel_de_Tucuman.csv

./argentina/data/20231009/San_Juan.csv

./argentina/data/20231009/Neuquen.csv

./argentina/data/20231009/Comodoro_Rivadavia.csv

./argentina/data/20231009/Santa_Fe.csv

./argentina/data/20231009/Cordoba.csv

 86%|████████▌ | 494/576 [00:53<00:07, 10.89it/s]

./argentina/data/20231127/Rosario.csv

./argentina/data/20231127/Mar_del_Plata.csv

./argentina/data/20231127/Mendoza.csv

./argentina/data/20231127/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 87%|████████▋ | 503/576 [00:54<00:06, 11.35it/s]

./argentina/data/20231127/Salta.csv

./argentina/data/20231127/Bahia_Blanca.csv

./argentina/data/20231127/San_Miguel_de_Tucuman.csv

./argentina/data/20231127/San_Juan.csv

./argentina/data/20231127/Neuquen.csv

./argentina/data/20231127/Comodoro_Rivadavia.csv

./argentina/data/20231127/Santa_Fe.csv

./argentina/data/20231127/Cordoba.csv

 88%|████████▊ | 506/576 [00:54<00:06, 11.12it/s]

./argentina/data/20230828/Rosario.csv

./argentina/data/20230828/Mar_del_Plata.csv

./argentina/data/20230828/Mendoza.csv

./argentina/data/20230828/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 89%|████████▉ | 515/576 [00:55<00:05, 10.17it/s]

./argentina/data/20230828/Salta.csv

./argentina/data/20230828/Bahia_Blanca.csv

./argentina/data/20230828/San_Miguel_de_Tucuman.csv

./argentina/data/20230828/San_Juan.csv

./argentina/data/20230828/Neuquen.csv

./argentina/data/20230828/Comodoro_Rivadavia.csv

./argentina/data/20230828/Santa_Fe.csv

./argentina/data/20230828/Cordoba.csv

 90%|████████▉ | 518/576 [00:56<00:05, 10.13it/s]

./argentina/data/20230703/Rosario.csv

./argentina/data/20230703/Mar_del_Plata.csv

./argentina/data/20230703/Mendoza.csv

./argentina/data/20230703/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 91%|█████████▏| 527/576 [00:57<00:04,  9.88it/s]

./argentina/data/20230703/Salta.csv

./argentina/data/20230703/Bahia_Blanca.csv

./argentina/data/20230703/San_Miguel_de_Tucuman.csv

./argentina/data/20230703/San_Juan.csv

./argentina/data/20230703/Neuquen.csv

./argentina/data/20230703/Comodoro_Rivadavia.csv

./argentina/data/20230703/Santa_Fe.csv

./argentina/data/20230703/Cordoba.csv

./argentina/data/20230925/Rosario.csv

./argentina/data/20230925/Mar_del_Plata.csv

 92%|█████████▏| 530/576 [00:57<00:04,  9.83it/s]

./argentina/data/20230925/Mendoza.csv

./argentina/data/20230925/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
 93%|█████████▎| 535/576 [00:58<00:05,  6.85it/s]

./argentina/data/20230925/Salta.csv

./argentina/data/20230925/Bahia_Blanca.csv

./argentina/data/20230925/San_Miguel_de_Tucuman.csv

./argentina/data/20230925/San_Juan.csv

./argentina/data/20230925/Neuquen.csv

 94%|█████████▍| 540/576 [00:58<00:03,  9.76it/s]

./argentina/data/20230925/Comodoro_Rivadavia.csv

./argentina/data/20230925/Santa_Fe.csv

./argentina/data/20230925/Cordoba.csv

./argentina/data/20230807/Rosario.csv

 94%|█████████▍| 542/576 [00:59<00:03,  9.88it/s]

./argentina/data/20230807/Mar_del_Plata.csv

./argentina/data/20230807/Mendoza.csv

./argentina/data/20230807/Buenos_Aires.csv

 95%|█████████▌| 549/576 [01:00<00:03,  8.43it/s]

./argentina/data/20230807/Salta.csv

./argentina/data/20230807/Bahia_Blanca.csv

./argentina/data/20230807/San_Miguel_de_Tucuman.csv

./argentina/data/20230807/San_Juan.csv

./argentina/data/20230807/Neuquen.csv

./argentina/data/20230807/Comodoro_Rivadavia.csv

./argentina/data/20230807/Santa_Fe.csv

./argentina/data/20230807/Cordoba.csv

 96%|█████████▌| 552/576 [01:00<00:02,  9.99it/s]

./argentina/data/20230403/Rosario.csv

./argentina/data/20230403/Mar_del_Plata.csv

 96%|█████████▋| 555/576 [01:00<00:01, 10.52it/s]

./argentina/data/20230403/Mendoza.csv

./argentina/data/20230403/Buenos_Aires.csv

 98%|█████████▊| 562/576 [01:01<00:01,  8.54it/s]

./argentina/data/20230403/Salta.csv

./argentina/data/20230403/Bahia_Blanca.csv

./argentina/data/20230403/San_Miguel_de_Tucuman.csv

./argentina/data/20230403/San_Juan.csv

./argentina/data/20230403/Neuquen.csv

./argentina/data/20230403/Comodoro_Rivadavia.csv

./argentina/data/20230403/Santa_Fe.csv

./argentina/data/20230403/Cordoba.csv

 98%|█████████▊| 567/576 [01:02<00:00, 10.25it/s]

./argentina/data/20230911/Rosario.csv

./argentina/data/20230911/Mar_del_Plata.csv

./argentina/data/20230911/Mendoza.csv

./argentina/data/20230911/Buenos_Aires.csv

/home/gianluca/collectors/modules/MySQLLoader.py:43: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)
100%|█████████▉| 574/576 [01:03<00:00,  8.81it/s]

./argentina/data/20230911/Salta.csv

./argentina/data/20230911/Bahia_Blanca.csv

./argentina/data/20230911/San_Miguel_de_Tucuman.csv

./argentina/data/20230911/San_Juan.csv

./argentina/data/20230911/Neuquen.csv

./argentina/data/20230911/Comodoro_Rivadavia.csv

./argentina/data/20230911/Santa_Fe.csv

./argentina/data/20230911/Cordoba.csv

100%|██████████| 576/576 [01:03<00:00,  9.08it/s]

In [7]:
dp.df_total

,priceUSD,lat,storeText,room,developing,country,price,lon,categoryId,m2,sellerId,permalink,sellerType,currency,city,title,id,scrapingTime
0,90000,-33.000027,por FURIGO INMOBILIARIA,9.0,False,Argentina,90000,-60.77381,MLA401685,150.0,337982250,https://casa.mercadolibre.com.ar/MLA-143865780...,real_estate_agency,USD,Rosario,Casa En Perez,MLA1438657802,2023-12-11
1,55000,-32.999630,por FURIGO INMOBILIARIA,4.0,False,Argentina,55000,-60.759064,MLA401685,61.0,337982250,https://casa.mercadolibre.com.ar/MLA-137477139...,real_estate_agency,USD,Rosario,Casa En Perez - Toma Vehículo,MLA1374771391,2023-12-11
2,165000,-32.995430,por FURIGO INMOBILIARIA,7.0,False,Argentina,165000,-60.77659,MLA401685,195.0,337982250,https://casa.mercadolibre.com.ar/MLA-143861954...,real_estate_agency,USD,Rosario,Casa 2 Dormitorios En Pérez,MLA1438619544,2023-12-11
3,74000,-33.001522,por FURIGO INMOBILIARIA,5.0,False,Argentina,74000,-60.7685,MLA401685,105.0,337982250,https://casa.mercadolibre.com.ar/MLA-148484172...,real_estate_agency,USD,Rosario,Casa - Perez,MLA1484841728,2023-12-11
4,37000,-32.995110,por FURIGO INMOBILIARIA,6.0,False,Argentina,37000,-60.773277,MLA401685,154.0,337982250,https://casa.mercadolibre.com.ar/MLA-143873153...,real_estate_agency,USD,Rosario,Casa 3 Dormitorios En Perez,MLA1438731532,2023-12-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4682,90000,-31.280045,nan,4.0,False,Argentina,90000,-64.169975,MLA401685,285.0,1205112370,https://casa.mercadolibre.com.ar/MLA-136484533...,real_estate_agency,USD,Córdoba,Venta 2 Casas Juarez Celman,MLA1364845335,2023-09-11
4683,150000,-31.310528,nan,1.0,False,Argentina,150000,-64.16816,MLA401685,137.0,233506958,https://casa.mercadolibre.com.ar/MLA-146536289...,real_estate_agency,USD,Córdoba,Vendemos Terreno Con Propiedad Barrio Guiñazu,MLA1465362890,2023-09-11
4684,45000,-31.341846,nan,5.0,False,Argentina,45000,-64.16669,MLA401685,155.0,758823095,https://casa.mercadolibre.com.ar/MLA-138557764...,real_estate_agency,USD,Córdoba,Casa En Venta B° General Arenales,MLA1385577649,2023-09-11
4685,40000,-31.280045,nan,4.0,False,Argentina,40000,-64.169975,MLA401685,120.0,1098043271,https://casa.mercadolibre.com.ar/MLA-137171387...,real_estate_agency,USD,Córdoba,Se Vende Casa En Juarez Celman,MLA1371713874,2023-09-11
4686,45000,-31.337767,nan,2.0,False,Argentina,45000,-64.17122,MLA401685,64.0,1480833,https://casa.mercadolibre.com.ar/MLA-147599184...,normal,USD,Córdoba,"Casa, Cocina/comedor, Baño. 2 Dormitorios.",MLA1475991840,2023-09-11

In [11]:
sql.append_from_df(df=dp.df_total,unique_fields=['id', 'scrapingTime'],table_name='colombia')

ads_db

Table colombia does not exist. Creating a new one...
(pymysql.err.DataError) (1264, "Out of range value for column 'priceUSD' at row 170")
[SQL: INSERT INTO colombia (city, lat, `priceUSD`, price, id, neighbourhood, title, country, currency, lon, room, `scrapingTime`, m2) VALUES (%(city)s, %(lat)s, %(priceUSD)s, %(price)s, %(id)s, %(neighbourhood)s, %(title)s, %(country)s, %(currency)s, %(lon)s, %(room)s, %(scrapingTime)s, %(m2)s)]
[parameters: ({'city': 'Cali', 'lat': -76.49500274658203, 'priceUSD': 217800, 'price': 990000000, 'id': None, 'neighbourhood': 'Flora Industrial', 'title': 'Casa en Venta', 'country': 'Colombia', 'currency': 'COP', 'lon': '3.450999975204468', 'room': 11.0, 'scrapingTime': '2023-01-25', 'm2': 734}, {'city': 'Cali', 'lat': -76.49156188964844, 'priceUSD': 30800, 'price': 140000000, 'id': None, 'neighbourhood': 'La Base', 'title': 'Apartamento en Venta', 'country': 'Colombia', 'currency': 'COP', 'lon': '3.4519481658935547', 'room': 3.0, 'scrapingTime': '2023-01-25', 'm2': 55}, {'city': 'Cali', 'lat': -76.49400329589844, 'priceUSD': 770000, 'price': 3500000000, 'id': None, 'neighbourhood': 'Menga', 'title': 'Casa en Venta', 'country': 'Colombia', 'currency': 'COP', 'lon': '3.45199990272522', 'room': 7.0, 'scrapingTime': '2023-01-25', 'm2': 1068}, {'city': 'Cali', 'lat': -76.49166107177734, 'priceUSD': 29700, 'price': 135000000, 'id': None, 'neighbourhood': 'La Nueva Base', 'title': 'Apartamento en Venta', 'country': 'Colombia', 'currency': 'COP', 'lon': '3.447721004486084', 'room': 3.0, 'scrapingTime': '2023-01-25', 'm2': 60}, {'city': 'Cali', 'lat': -76.4954833984375, 'priceUSD': 99000, 'price': 450000000, 'id': None, 'neighbourhood': 'La Base', 'title': 'Casa en Venta', 'country': 'Colombia', 'currency': 'COP', 'lon': '3.4501521587371826', 'room': 5.0, 'scrapingTime': '2023-01-25', 'm2': 245}, {'city': 'Cali', 'lat': -76.49491119384766, 'priceUSD': 94600, 'price': 430000000, 'id': None, 'neighbourhood': 'Norte B La Base', 'title': 'Apartamento en Venta', 'country': 'Colombia', 'currency': 'COP', 'lon': '3.447340250015259', 'room': 10.0, 'scrapingTime': '2023-01-25', 'm2': 396}, {'city': 'Cali', 'lat': -76.4888687133789, 'priceUSD': 33000, 'price': 150000000, 'id': None, 'neighbourhood': 'Las Ceibas', 'title': 'Casa Lote en Venta', 'country': 'Colombia', 'currency': 'COP', 'lon': '3.4554600715637207', 'room': 4.0, 'scrapingTime': '2023-01-25', 'm2': 100}, {'city': 'Cali', 'lat': -76.48899841308594, 'priceUSD': 418000, 'price': 1900000000, 'id': None, 'neighbourhood': 'San Pedro', 'title': 'Bodega en Venta', 'country': 'Colombia', 'currency': 'COP', 'lon': '3.4590001106262207', 'room': None, 'scrapingTime': '2023-01-25', 'm2': 500}  ... displaying 10 of 1000 total bound parameter sets ...  {'city': 'Ibagué', 'lat': -75.24099731445312, 'priceUSD': 297000, 'price': 1350000000, 'id': None, 'neighbourhood': 'centro', 'title': 'Casa en Venta', 'country': 'Colombia', 'currency': 'COP', 'lon': '4.441999912261963', 'room': 2.0, 'scrapingTime': '2023-01-25', 'm2': 213}, {'city': 'Ibagué', 'lat': -75.23751068115234, 'priceUSD': 34100, 'price': 155000000, 'id': None, 'neighbourhood': 'Centro', 'title': 'Apartamento en Venta', 'country': 'Colombia', 'currency': 'COP', 'lon': '4.442708015441895', 'room': 2.0, 'scrapingTime': '2023-01-25', 'm2': 73})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)
ERROR: Cannot append rows to colombia.

In [4]:
int_col = ['m2' ,'room' ,'price','priceUSD']
float_col = ['lat','long','$m2']
col_to_keep = ['id','m2','room','sellerId','sellerType','country','city','title','permalink','price','currency','storeText','categoryId','developing','lat','lon','priceUSD','scrapingTime']

for fn in csv_list:
    print(f"{fn}\n")
    df = pd.read_csv(fn)
    
    # Get the intersection of col_to_keep and the columns in the dataframe
    cols_to_use = list(set(col_to_keep) & set(df.columns))
    
    # Create new columns with None values for any missing columns
    missing_cols = list(set(col_to_keep) - set(df.columns))
    for missing_col in missing_cols:
        df[missing_col] = None
    
    t = df[cols_to_use].copy()


    for c in t.columns:
        if c in int_col:
            t[c] = t[c].apply(lambda x: int(x) if not np.isnan(x) else None)
        elif c in float_col:
            t[c] = t[c].apply(lambda x: float(x) if not np.isnan(x) else None)
        else:
            t[c] = t[c].apply(lambda x: str(x))
    sql.append_from_df(table_name='argentina',
                        df=t,
                        unique_fields=['id','scrapingTime'])

./argentina/data/20231211/Rosario.csv

ads_db

Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
0 rows to append.
./argentina/data/20231211/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
0 rows to append.
./argentina/data/20231211/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
0 rows to append.
./argentina/data/20231211/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
0 rows to append.
./argentina/data/20231211/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
0 rows to append.
./argentina/data/20231211/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
0 rows to append.
./argentina/data/20231211/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
504 rows to append.
./argentina/data/20231211/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
50 rows to append.
./argentina/data/20231211/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
559 rows to append.
./argentina/data/20231211/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
75 rows to append.
./argentina/data/20231211/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
794 rows to append.
./argentina/data/20231211/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
3420 rows to append.
./argentina/data/20230206/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5120 rows to append.
./argentina/data/20230206/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4786 rows to append.
./argentina/data/20230206/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
800 rows to append.
./argentina/data/20230206/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
58771 rows to append.
./argentina/data/20230206/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
393 rows to append.
./argentina/data/20230206/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1090 rows to append.
./argentina/data/20230206/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
731 rows to append.
./argentina/data/20230206/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
49 rows to append.
./argentina/data/20230206/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
858 rows to append.
./argentina/data/20230206/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
68 rows to append.
./argentina/data/20230206/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1033 rows to append.
./argentina/data/20230206/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6514 rows to append.
./argentina/data/20231225/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
3924 rows to append.
./argentina/data/20231225/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
3835 rows to append.
./argentina/data/20231225/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1079 rows to append.
./argentina/data/20231225/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
41543 rows to append.
./argentina/data/20231225/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
317 rows to append.
./argentina/data/20231225/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
512 rows to append.
./argentina/data/20231225/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
645 rows to append.
./argentina/data/20231225/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
49 rows to append.
./argentina/data/20231225/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
619 rows to append.
./argentina/data/20231225/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
64 rows to append.
./argentina/data/20231225/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
764 rows to append.
./argentina/data/20231225/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4711 rows to append.
./argentina/data/20230904/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5976 rows to append.
./argentina/data/20230904/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6438 rows to append.
./argentina/data/20230904/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1245 rows to append.
./argentina/data/20230904/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
60526 rows to append.
./argentina/data/20230904/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
428 rows to append.
./argentina/data/20230904/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1110 rows to append.
./argentina/data/20230904/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
818 rows to append.
./argentina/data/20230904/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
46 rows to append.
./argentina/data/20230904/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
831 rows to append.
./argentina/data/20230904/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
92 rows to append.
./argentina/data/20230904/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1206 rows to append.
./argentina/data/20230904/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6719 rows to append.
./argentina/data/20231106/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4996 rows to append.
./argentina/data/20231106/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5069 rows to append.
./argentina/data/20231106/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1170 rows to append.
./argentina/data/20231106/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
48595 rows to append.
./argentina/data/20231106/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
353 rows to append.
./argentina/data/20231106/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1033 rows to append.
./argentina/data/20231106/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
821 rows to append.
./argentina/data/20231106/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
48 rows to append.
./argentina/data/20231106/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
721 rows to append.
./argentina/data/20231106/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
81 rows to append.
./argentina/data/20231106/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
917 rows to append.
./argentina/data/20231106/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5585 rows to append.
./argentina/data/20230313/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4732 rows to append.
./argentina/data/20230313/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5460 rows to append.
./argentina/data/20230313/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
464 rows to append.
./argentina/data/20230313/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
55030 rows to append.
./argentina/data/20230313/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
321 rows to append.
./argentina/data/20230313/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
936 rows to append.
./argentina/data/20230313/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
653 rows to append.
./argentina/data/20230313/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
41 rows to append.
./argentina/data/20230313/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
731 rows to append.
./argentina/data/20230313/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
66 rows to append.
./argentina/data/20230313/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
921 rows to append.
./argentina/data/20230313/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5723 rows to append.
./argentina/data/20230626/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5336 rows to append.
./argentina/data/20230626/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6196 rows to append.
./argentina/data/20230626/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
798 rows to append.
./argentina/data/20230626/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
58068 rows to append.
./argentina/data/20230626/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
367 rows to append.
./argentina/data/20230626/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1007 rows to append.
./argentina/data/20230626/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
752 rows to append.
./argentina/data/20230626/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
39 rows to append.
./argentina/data/20230626/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
695 rows to append.
./argentina/data/20230626/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
80 rows to append.
./argentina/data/20230626/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1105 rows to append.
./argentina/data/20230626/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6304 rows to append.
./argentina/data/20230213/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4678 rows to append.
./argentina/data/20230213/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5613 rows to append.
./argentina/data/20230213/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
887 rows to append.
./argentina/data/20230213/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
54192 rows to append.
./argentina/data/20230213/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
391 rows to append.
./argentina/data/20230213/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
941 rows to append.
./argentina/data/20230213/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
414 rows to append.
./argentina/data/20230213/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
47 rows to append.
./argentina/data/20230213/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
790 rows to append.
./argentina/data/20230213/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
71 rows to append.
./argentina/data/20230213/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
651 rows to append.
./argentina/data/20230213/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6008 rows to append.
./argentina/data/20230508/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5625 rows to append.
./argentina/data/20230508/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6725 rows to append.
./argentina/data/20230508/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
524 rows to append.
./argentina/data/20230508/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
62113 rows to append.
./argentina/data/20230508/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
427 rows to append.
./argentina/data/20230508/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1097 rows to append.
./argentina/data/20230508/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
831 rows to append.
./argentina/data/20230508/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
38 rows to append.
./argentina/data/20230508/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
764 rows to append.
./argentina/data/20230508/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
77 rows to append.
./argentina/data/20230508/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1112 rows to append.
./argentina/data/20230508/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6157 rows to append.
./argentina/data/20230612/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4686 rows to append.
./argentina/data/20230612/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4996 rows to append.
./argentina/data/20230612/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
481 rows to append.
./argentina/data/20230612/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
49558 rows to append.
./argentina/data/20230612/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
269 rows to append.
./argentina/data/20230612/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
915 rows to append.
./argentina/data/20230612/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
531 rows to append.
./argentina/data/20230612/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
33 rows to append.
./argentina/data/20230612/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
585 rows to append.
./argentina/data/20230612/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
76 rows to append.
./argentina/data/20230612/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1080 rows to append.
./argentina/data/20230612/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5048 rows to append.
./argentina/data/20230418/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
732 rows to append.
./argentina/data/20230410/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5595 rows to append.
./argentina/data/20230410/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6626 rows to append.
./argentina/data/20230410/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
507 rows to append.
./argentina/data/20230410/Buenos_Aires.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
61836 rows to append.
./argentina/data/20230410/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
410 rows to append.
./argentina/data/20230410/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1065 rows to append.
./argentina/data/20230410/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
786 rows to append.
./argentina/data/20230410/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
48 rows to append.
./argentina/data/20230410/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
761 rows to append.
./argentina/data/20230410/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
76 rows to append.
./argentina/data/20230410/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1037 rows to append.
./argentina/data/20230410/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6824 rows to append.
./argentina/data/20231023/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5415 rows to append.
./argentina/data/20231023/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4193 rows to append.
./argentina/data/20231023/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1096 rows to append.
./argentina/data/20231023/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
49056 rows to append.
./argentina/data/20231023/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
427 rows to append.
./argentina/data/20231023/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
911 rows to append.
./argentina/data/20231023/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
813 rows to append.
./argentina/data/20231023/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
51 rows to append.
./argentina/data/20231023/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
741 rows to append.
./argentina/data/20231023/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
82 rows to append.
./argentina/data/20231023/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1072 rows to append.
./argentina/data/20231023/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5438 rows to append.
./argentina/data/20230814/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5418 rows to append.
./argentina/data/20230814/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5944 rows to append.
./argentina/data/20230814/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
871 rows to append.
./argentina/data/20230814/Buenos_Aires.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
58525 rows to append.
./argentina/data/20230814/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
407 rows to append.
./argentina/data/20230814/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1076 rows to append.
./argentina/data/20230814/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
700 rows to append.
./argentina/data/20230814/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
46 rows to append.
./argentina/data/20230814/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
784 rows to append.
./argentina/data/20230814/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
87 rows to append.
./argentina/data/20230814/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1193 rows to append.
./argentina/data/20230814/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5881 rows to append.
./argentina/data/20230124/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5288 rows to append.
./argentina/data/20230124/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6755 rows to append.
./argentina/data/20230124/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
944 rows to append.
./argentina/data/20230124/Buenos_Aires.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
22614 rows to append.
./argentina/data/20230124/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
393 rows to append.
./argentina/data/20230124/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1075 rows to append.
./argentina/data/20230124/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
718 rows to append.
./argentina/data/20230124/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
50 rows to append.
./argentina/data/20230124/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
879 rows to append.
./argentina/data/20230124/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
69 rows to append.
./argentina/data/20230124/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1063 rows to append.
./argentina/data/20230124/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6525 rows to append.
./argentina/data/20230227/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5354 rows to append.
./argentina/data/20230227/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6707 rows to append.
./argentina/data/20230227/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
543 rows to append.
./argentina/data/20230227/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
58255 rows to append.
./argentina/data/20230227/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
300 rows to append.
./argentina/data/20230227/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
987 rows to append.
./argentina/data/20230227/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
776 rows to append.
./argentina/data/20230227/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
43 rows to append.
./argentina/data/20230227/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
768 rows to append.
./argentina/data/20230227/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
64 rows to append.
./argentina/data/20230227/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
898 rows to append.
./argentina/data/20230227/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6476 rows to append.
./argentina/data/20231120/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4890 rows to append.
./argentina/data/20231120/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4265 rows to append.
./argentina/data/20231120/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1192 rows to append.
./argentina/data/20231120/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
47265 rows to append.
./argentina/data/20231120/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
331 rows to append.
./argentina/data/20231120/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
930 rows to append.
./argentina/data/20231120/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
781 rows to append.
./argentina/data/20231120/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
48 rows to append.
./argentina/data/20231120/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
688 rows to append.
./argentina/data/20231120/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
92 rows to append.
./argentina/data/20231120/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
859 rows to append.
./argentina/data/20231120/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5271 rows to append.
./argentina/data/20230717/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5284 rows to append.
./argentina/data/20230717/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6047 rows to append.
./argentina/data/20230717/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
855 rows to append.
./argentina/data/20230717/Buenos_Aires.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
57752 rows to append.
./argentina/data/20230717/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
376 rows to append.
./argentina/data/20230717/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1047 rows to append.
./argentina/data/20230717/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
699 rows to append.
./argentina/data/20230717/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
41 rows to append.
./argentina/data/20230717/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
825 rows to append.
./argentina/data/20230717/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
85 rows to append.
./argentina/data/20230717/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1137 rows to append.
./argentina/data/20230717/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6235 rows to append.
./argentina/data/20230724/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5815 rows to append.
./argentina/data/20230724/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6503 rows to append.
./argentina/data/20230724/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
861 rows to append.
./argentina/data/20230724/Buenos_Aires.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
60309 rows to append.
./argentina/data/20230724/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
399 rows to append.
./argentina/data/20230724/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1043 rows to append.
./argentina/data/20230724/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
754 rows to append.
./argentina/data/20230724/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
48 rows to append.
./argentina/data/20230724/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
842 rows to append.
./argentina/data/20230724/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
83 rows to append.
./argentina/data/20230724/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1132 rows to append.
./argentina/data/20230724/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6435 rows to append.
./argentina/data/20231002/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5687 rows to append.
./argentina/data/20231002/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5967 rows to append.
./argentina/data/20231002/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1255 rows to append.
./argentina/data/20231002/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
51806 rows to append.
./argentina/data/20231002/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
391 rows to append.
./argentina/data/20231002/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
885 rows to append.
./argentina/data/20231002/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
793 rows to append.
./argentina/data/20231002/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
45 rows to append.
./argentina/data/20231002/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
790 rows to append.
./argentina/data/20231002/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
86 rows to append.
./argentina/data/20231002/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1142 rows to append.
./argentina/data/20231002/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6271 rows to append.
./argentina/data/20230320/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5309 rows to append.
./argentina/data/20230320/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6137 rows to append.
./argentina/data/20230320/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
529 rows to append.
./argentina/data/20230320/Buenos_Aires.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
59257 rows to append.
./argentina/data/20230320/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
366 rows to append.
./argentina/data/20230320/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
529 rows to append.
./argentina/data/20230320/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
671 rows to append.
./argentina/data/20230320/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
42 rows to append.
./argentina/data/20230320/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
724 rows to append.
./argentina/data/20230320/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
73 rows to append.
./argentina/data/20230320/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
895 rows to append.
./argentina/data/20230320/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6550 rows to append.
./argentina/data/20230515/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5218 rows to append.
./argentina/data/20230515/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6044 rows to append.
./argentina/data/20230515/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
632 rows to append.
./argentina/data/20230515/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
59483 rows to append.
./argentina/data/20230515/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
344 rows to append.
./argentina/data/20230515/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1008 rows to append.
./argentina/data/20230515/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
718 rows to append.
./argentina/data/20230515/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
41 rows to append.
./argentina/data/20230515/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
738 rows to append.
./argentina/data/20230515/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
80 rows to append.
./argentina/data/20230515/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1040 rows to append.
./argentina/data/20230515/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6789 rows to append.
./argentina/data/20230306/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5529 rows to append.
./argentina/data/20230306/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6750 rows to append.
./argentina/data/20230306/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
539 rows to append.
./argentina/data/20230306/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
60366 rows to append.
./argentina/data/20230306/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
310 rows to append.
./argentina/data/20230306/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1073 rows to append.
./argentina/data/20230306/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
761 rows to append.
./argentina/data/20230306/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
42 rows to append.
./argentina/data/20230306/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
767 rows to append.
./argentina/data/20230306/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
65 rows to append.
./argentina/data/20230306/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
914 rows to append.
./argentina/data/20230306/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6536 rows to append.
./argentina/data/20231016/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5081 rows to append.
./argentina/data/20231016/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4638 rows to append.
./argentina/data/20231016/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1098 rows to append.
./argentina/data/20231016/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
45982 rows to append.
./argentina/data/20231016/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
315 rows to append.
./argentina/data/20231016/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
858 rows to append.
./argentina/data/20231016/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
798 rows to append.
./argentina/data/20231016/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
50 rows to append.
./argentina/data/20231016/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
720 rows to append.
./argentina/data/20231016/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
83 rows to append.
./argentina/data/20231016/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1096 rows to append.
./argentina/data/20231016/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5099 rows to append.
./argentina/data/20230220/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4943 rows to append.
./argentina/data/20230220/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6334 rows to append.
./argentina/data/20230220/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
527 rows to append.
./argentina/data/20230220/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
56770 rows to append.
./argentina/data/20230220/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
307 rows to append.
./argentina/data/20230220/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
966 rows to append.
./argentina/data/20230220/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
614 rows to append.
./argentina/data/20230220/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
47 rows to append.
./argentina/data/20230220/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
738 rows to append.
./argentina/data/20230220/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
66 rows to append.
./argentina/data/20230220/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
870 rows to append.
./argentina/data/20230220/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6539 rows to append.
./argentina/data/20230710/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5548 rows to append.
./argentina/data/20230710/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6321 rows to append.
./argentina/data/20230710/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
846 rows to append.
./argentina/data/20230710/Buenos_Aires.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
59226 rows to append.
./argentina/data/20230710/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
386 rows to append.
./argentina/data/20230710/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1051 rows to append.
./argentina/data/20230710/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
771 rows to append.
./argentina/data/20230710/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
44 rows to append.
./argentina/data/20230710/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
691 rows to append.
./argentina/data/20230710/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
85 rows to append.
./argentina/data/20230710/Santa_Fe.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1122 rows to append.
./argentina/data/20230710/Cordoba.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
6519 rows to append.
./argentina/data/20231030/Rosario.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
5375 rows to append.
./argentina/data/20231030/Mar_del_Plata.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
4415 rows to append.
./argentina/data/20231030/Mendoza.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
1223 rows to append.
./argentina/data/20231030/Buenos_Aires.csv

/tmp/ipykernel_1130/838576285.py:7: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fn)

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
46976 rows to append.
./argentina/data/20231030/Salta.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
402 rows to append.
./argentina/data/20231030/Bahia_Blanca.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
970 rows to append.
./argentina/data/20231030/San_Miguel_de_Tucuman.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
827 rows to append.
./argentina/data/20231030/San_Juan.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
50 rows to append.
./argentina/data/20231030/Neuquen.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok
Nothing to return!
761 rows to append.
./argentina/data/20231030/Comodoro_Rivadavia.csv

ads_db
Table argentina exists. Appending...
Ignoring duplicates...
ads_db
Table argentina_to_append does not exist. Creating a new one...
ok

In [7]:
sql.db_connection()

In [2]:
import sqlalchemy

print(sqlalchemy.__version__)

1.4.39

In [27]:
t

,id,m2,room,sellerId,sellerType,country,city,permalink,price,currency,...,title,developing,lat,lon,is_multifamily,storeText,seller_info_tags_5,priceUSD,$m2,scrapingTime
0,MLA1393939125,250.0,5.0,35756510,real_estate_agency,Argentina,Chapadmalal,https://casa.mercadolibre.com.ar/MLA-139393912...,193000,USD,...,Eco Espacio Y Casa De Adobe. Único En Su Estil...,False,-38.11441,-57.616142,False,NaN,NaN,193000.0,772.000000,2023-12-11
1,MLA1393978321,120.0,2.0,35756510,real_estate_agency,Argentina,Chapadmalal,https://casa.mercadolibre.com.ar/MLA-139397832...,100000,USD,...,Eco Espacio. Único En Su Estilo | Ideal Para E...,False,-38.11497,-57.616833,False,NaN,NaN,100000.0,833.333333,2023-12-11

In [28]:
t.columns

Index(['id', 'm2', 'room', 'sellerId', 'sellerType', 'country', 'city',
       'permalink', 'price', 'currency', 'categoryId', 'title', 'developing',
       'lat', 'lon', 'is_multifamily', 'storeText', 'seller_info_tags_5',
       'priceUSD', '$m2', 'scrapingTime'],
      dtype='object')